.navigation-bar {
	background-color: #b3ecff;
	width: 200px;
	top:0;
	z-index:1;
	align-content:center;
	position:absolute;
	align-self:center;
	height:100%;

}

.pineapple {
	background-color: white;
	border-radius: 45%;
	margin-top:60px;
	margin-left:10px;
	width: 150px;
	text-align: center;
	display:block;
	font-size:30px;
} 	
body {
	background-color: #ccb3ff;
}

.home-page {
	margin-left:200px;
}