.buttons-container {
	background-color: #b3ecff;
	display: flex;
			flex-flow: column wrap;
			justify-content: space-around;
			margin: 15px;
			width: 200px;


}

.pineapple {
	background-color: white;
	border-radius: 30%;
	margin: 100px;
	width: 80px;
	text-align: center;
	/*go in the center NOW*/
} 	